
#header{
	
	height: 5%;
	width: 100%;
	float:left
}


#home{
	
	height: 100%;
	width: 25%;
	float:left
}

#contacts{
	
	height: 100%;
	width: 25%;
	float:left
	
	
}
#services{
	
	height: 100%;
	width: 25%;
	float:left
}


#about{
	
	height: 100%;
	width: 25%;
	float:left
}

#main{
	
	height: 90%;
	width: 100%;
	float: left
}

#wrapper{
	height: 690px;
	width: 1500px;
	
	
}

